* {
    box-sizing: border-box;
}

html,
body {
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    font-family: var(--vscode-editor-font-family);

    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    padding: 1vw;
}

#App {
    width: 100%;

    footer {
        height: 30px;
    }

    & > main {
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;

        .content {
            height: 80vh;
            flex: 1;
            display: flex;

            aside {
                width: 30%;
            }

            @media screen and (max-width: 1165px) {
                border-bottom: 1px solid var(--vscode-input-border);
                margin-bottom: 0.5rem;
                flex-direction: column-reverse;

                aside {
                    width: 100%;
                }
            }
        }
    }
}

.input {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    padding: 8px 10px !important;
    font-family: var(--vscode-editor-font-family);

    &::placeholder {
        color: var(--vscode-input-placeholderForeground);
        font-family: var(--vscode-editor-font-family);
    }
}

select.input {
    height: 42px !important;
}

label {
    font-weight: bold;
    display: block;
}

.text--error {
    color: var(--vscode-input-foreground);
    opacity: 0.6;
}

.text--italics {
    font-style: italic;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 10px;
}
