.control_panel {
    padding-left: 1rem;
}

.config_controls {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;

    label {
        margin-bottom: 5px;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    li {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 20px;

        &:hover {
            color: var(--vscode-input-foreground);
        }

        input {
            flex: 1;
        }

        .control {
            flex: 1;
            display: flex;

            input {
                box-sizing: content-box;
            }
        }
    }

    @media screen and (max-width: 1165px) {
        & {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
            grid-column-gap: 1rem;
            padding: 0;
            margin: 0;
        }
    }
}

.tools_panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .tools_panel__actions {
        display: flex;
        align-items: center;
    }
}
