.svg_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-column-gap: 20px;

    .svg_grid__preview {
        color: unset;
        display: flex;
        place-content: center;
        place-items: center;
        flex-direction: column;
        padding: 2rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        border: 1px dotted transparent;
        max-width: 128px;

        &:hover {
            color: var(--vscode-input-foreground);
            cursor: pointer;
            border-color: var(--vscode-input-border);
        }
    }

    .svg_grid__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        text-align: center;
    }
}

.content__content {
    flex: 1;
    overflow: scroll;
    padding: 0.5rem;
}
